services:
  aceserve:
    image: jopsis/aceserve:latest
    container_name: aceserve
    restart: unless-stopped
    ports:
      - "6878:6878"
      - "8621:8621"
      - "62062:62062"
    networks:
      - aceserve-network
    dns:
      # - 74.115.172.133
      - 1.1.1.1
      - 1.0.0.1
networks:
  aceserve-network:
    driver: bridge
